# Исключаем кэш Python
__pycache__/
*.py[cod]
*$py.class

# Исключаем файлы pickle
*.pkl

# Исключаем виртуальное окружение (если есть)
venv/
env/
.venv/

# Исключаем локальные переменные (ключи API)
.env

# Исключаем системные файлы (для Mac/Windows)
.DS_Store
Thumbs.db